<div class="container mt-4">
    <h2 class="text-center mb-4">Available Buses</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col" *ngFor="let bus of buses">
        <div class="card shadow-sm border-light">
          <h5 class="card-title text-center">
            <a [routerLink]="['/buses', bus.id]" class="text-decoration-none bus-link text-primary">
              {{ bus.name }} (Bus Number: {{ bus.bus_number }})
            </a>
          </h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Capacity: {{ bus.capacity }}</li>
            <li class="list-group-item">Bus Line: {{ bus.bus_line }}</li>
            <!-- Add more details as needed -->
          </ul>
        </div>
      </div>
    </div>
  </div>
  