.fullPage {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* Align items to the top */
  min-height: calc(100vh - 200px);
  /* Adjust based on the height of your header and footer */
  margin: 0;
  /* Remove default margin */
  padding-top: 50px;
  /* Space above the form */
  padding-bottom: 50px;
  /* Space below the form to ensure it's above the footer */
  /* background: #800020;
  radial-gradient: (
    circle,
    rgba(255, 144, 168, 1) 0%,
    rgba(180, 3, 14, 1) 100%
  ); */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.register-form {
  background: var(--dark);
  border: 1px solid #e0e5b6;
  border-radius: 10px;
  padding: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
}

h2 {
  color: #fff;
  text-align: center;
}

h2:after {
  content: " ";
  display: block;
  border: 2px solid #5a5a5a;
  width: 50px;
  margin: auto;
  margin-top: 5px;
  border-radius: 20px;
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  color: #fff;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  background: #fff;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: none;
}



.btn-primary {
  background-color: var(--red) ;
  border-color: var(--red) ;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.btn-primary:hover {
  background-color: #410606;
  border-color: #410606;
  width: 100%;
}
/* .register-btn {
  background-color: var(--red) !important;
  border-color: var(--red) !important;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.register-btn:hover {
  background-color: #410606;
  border-color: #410606;
  color: White;
} */





