<div class="fullPage">
  <div class="register-form" [formGroup]="registerForm">
    <h2>Sign Up</h2>

    <!--First Name -->
    <div class="form-group">
      <label for="name"> Name</label>
      <input
        id="name"
        type="text"
        formControlName="name"
        placeholder="Enter your Name"
      />
      <div
        *ngIf="
          registerForm.get('name')?.invalid &&
          (registerForm.get('name')?.dirty || registerForm.get('name')?.touched)
        "
      >
        <small *ngIf="registerForm.get('name')?.errors?.['required']">
          First Name is required.
        </small>
        <small *ngIf="registerForm.get('name')?.errors?.['minlength']">
          First Name must be at least 2 characters.
        </small>
      </div>
    </div>

    <!-- Email Address -->
    <div class="form-group">
      <label for="email">Enter Your Email</label>
      <input
        id="email"
        type="email"
        formControlName="email"
        placeholder="Enter Your Email"
      />
      <div
        *ngIf="
          registerForm.get('email')?.invalid &&
          (registerForm.get('email')?.dirty ||
            registerForm.get('email')?.touched)
        "
      >
        <small *ngIf="registerForm.get('email')?.errors?.['required']">
          Email is required.
        </small>
        <small *ngIf="registerForm.get('email')?.errors?.['email']">
          Invalid email format.
        </small>
      </div>
    </div>

    <!-- Password -->
    <div class="form-group">
      <label for="password">Enter Your Password</label>
      <input
        id="password"
        type="password"
        formControlName="password"
        placeholder="Enter Your Password"
      />
      <div
        *ngIf="
          registerForm.get('password')?.invalid &&
          (registerForm.get('password')?.dirty ||
            registerForm.get('password')?.touched)
        "
      >
        <small *ngIf="registerForm.get('password')?.errors?.['required']">
          Password is required.
        </small>
        <small *ngIf="registerForm.get('password')?.errors?.['pattern']">
          Password must contain at least one lowercase letter, one uppercase
          letter, one digit, and one special character.
        </small>
      </div>
    </div>

    <!-- Confirm Password -->
    <div class="form-group">
      <label for="password_confirmation">Retype Your Password</label>
      <input
        id="password_confirmation"
        type="password"
        formControlName="password_confirmation"
        placeholder="Retype Your Password"
      />
      <div
        *ngIf="
          registerForm.get('password_confirmation')?.invalid &&
          (registerForm.get('password_confirmation')?.dirty ||
            registerForm.get('password_confirmation')?.touched)
        "
      >
        <small
          *ngIf="registerForm.get('password_confirmation')?.errors?.['required']"
        >
          Confirm Password is required.
        </small>
        <small *ngIf="registerForm.errors?.['mustMatch']">
          Passwords do not match.
        </small>
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary btn-block mt-4 register-btn"
      (click)="register()"
    >
      Register
    </button>
    <p class="text-center mt-4">
      Already signed up?
      <a href="/user-login" class="login-link">Login</a>
    </p>
  </div>
</div>
