/* You can add global styles to this file, and also import other style files */
:root {
  --dark: #1c1c1c;
  --red: #901b20;
  --white: #ffffff;
}
body {
  font-family: 'Cairo Play', sans-serif;
  transition: color 0.9s ease !important;
}
h1, a {
  font-weight: 700 !important;
}

p {
  font-weight: 400 !important;
}
button:hover {
  background-color: #410606 !important; /* White background */
  color: #f0f0f0; /* Black text */
  border-color: #343a40; /* Keep the dark grey border */
}
::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background-color: var(--dark);
}

::-webkit-scrollbar-thumb {
  background-color: #711414;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--red);

}

