/* You can add global styles to this file, and also import other style files */
:root {
  --dark: #1c1c1c;
  --red: #901b20;
  --white: #ffffff;
}
body {
  font-family: 'Cairo Play', sans-serif;
}
h1, a {
  font-weight: 700 !important;
}

p {
  font-weight: 400 !important;
}
