<div
  class="forget-container vh-100 d-flex justify-content-center align-items-center rtl-landing"
>
  <div class="card shadow-lg p-4">
    <div class="card-body">
      <h3 class="card-title text-center">
        {{ "FORGOT_PASSWORD.TITLE" | translate }}
      </h3>
      <form
        [formGroup]="forgotPasswordForm"
        (ngSubmit)="forgotPassword(); onSubmit()"
        style="padding: 20px"
      >
        <label for="email"
          ><p class=" mb-0">
            {{ "FORGOT_PASSWORD.DESCRIPTION" | translate }}
          </p>
        </label>
        <input type="email" id="email" formControlName="email" />
        <button type="submit" class="btn btn-primary btn-block mt-4">
          {{ "FORGOT_PASSWORD.SEND_OTP" | translate }}
        </button>
      </form>
    </div>
  </div>
</div>
