body {
    background-color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.forget-container {
  background-color: var(--red);
  box-shadow: rgb(0, 0, 0) 0px 2px 8px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4em;
  background-image: url(../../../assets/images/1.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  margin-left: calc(-50vw + 50%);
}


.card {
  color: white;
  background-color: #7c0808d3 !important;
  border: 1px solid #3333;
  border-radius: 10px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.459) 0px 2px 18px 10px !important;
  width: 100%;
  max-width: 500px;
}



.card-title {
    color: #fff;
    text-align: center;
}
h3:after {
  content: " ";
  display: block;
  border: 2px solid #636363;
  width: 50px;
  margin: auto;
  margin-top: 5px;
  border-radius: 20px;
}

.card-text {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;

}

.card-header {
    color: #fff;
    text-align: center;
}

.card-body {
    padding: 50px;
    color: #fff;

}
label{
  display: block;
  font-weight: 600;
}
input{
  width: 100%;
  margin-top: 10px;  width: 100%;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  background: #fff;

}
.form-control {
    border: 1px solid #5a5a5a;
    border-radius: 5px;
    background: none;
    padding: 10px;
    font-size: 16px;
    color: #5a5a5a;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;

}

.form-control:focus {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: none;
}

.form-group {
    margin-bottom: 3rem;

}

.btn-primary {
    background-color: var(--red);
    border-color: var(--red);
    width: 100%;
    max-width: 300px;
}

.btn-primary:hover {
    background-color: #410606;
    border-color: #410606;
    width: 100%;
}
