<div class="header-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a routerLink="/home" aria-label="Home">
      <img src="assets/images/logo-2.png" alt="Logo" class="logo" />
    </a>

    <div class="search-container mx-auto d-flex align-items-center">
      <input
        class="form-control search-field"
        type="search"
        [placeholder]="'HOME.SEARCH_PLACEHOLDER' | translate"
        aria-label="Search"
      />
      <button class="btn btn-outline-success d-flex align-items-center search-btn" type="submit">
        <i class="fa-solid fa-magnifying-glass me-2"></i> {{ 'SEARCH' | translate }}
      </button>
    </div>

    <div class="language-switcher">
      <button (click)="toggleLanguage()">{{ currentLang === 'en' ? 'العربية' : 'English' }}</button>
    </div>

    <!-- The rest of your navbar items -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" aria-label="Home">{{ 'NAV.HOME' | translate }}</a>
        </li>

        <li *ngIf="isLoggedIn()" class="nav-item">
          <a class="nav-link" [routerLink]="['/user-profile', getUserId()]" aria-label="Profile">{{ 'NAV.PROFILE' | translate }}</a>
        </li>

        <li *ngIf="!isLoggedIn()" class="nav-item">
          <a class="nav-link" routerLink="/user-login" aria-label="Login">{{ 'NAV.LOGIN' | translate }}</a>
        </li>

        <li *ngIf="!isLoggedIn()" class="nav-item">
          <a class="nav-link" routerLink="/user-register" routerLinkActive="active" aria-label="Register">{{ 'NAV.REGISTER' | translate }}</a>
        </li>

        <li *ngIf="isLoggedIn()" class="nav-item">
          <a class="nav-link" (click)="logout()" aria-label="Logout">{{ 'NAV.LOGOUT' | translate }}</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ 'NAV.EVENTS' | translate }}</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" routerLink="/events" aria-label="All Events">{{ 'NAV.ALL_EVENTS' | translate }}</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/events/kids" aria-label="Kids Events">{{ 'NAV.KIDS_EVENTS' | translate }}</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/events/upcoming" aria-label="Upcoming Events">{{ 'NAV.UPCOMING_EVENTS' | translate }}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>
