/* .header-container {
  background-color:  important;
} */

/* Blurred baby blue background for navbar */
body {
  background-color: grey;
}
.navbar {
  background-color: var(--dark) !important;
  /* Light baby blue color with transparency */
  backdrop-filter: blur(10px); /* Blurring effect */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  transition: background-color 0.3s ease-in-out,
    backdrop-filter 0.3s ease-in-out;
}

/* When navbar is hovered */
.navbar:hover {
  background-color: rgba(173, 216, 230, 0.8); /* Slightly darker on hover */
  backdrop-filter: blur(12px); /* Increase blur effect on hover */
}
.logo{
  width: 220px;
}

/* Centering the search input and button */
.search-container {
  width: 90%;
}

.search-field {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  flex: 1;
  border-radius: 50px;
}

/* Dark grey background with white text for the search button */
.search-btn {
  background-color: var(--red);
  color: white;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 50px;
  margin-left: -40px;
}

/* On hover, make the background white with black text */
.search-btn:hover {
  background-color: #410606; /* White background */
  color: #f0f0f0; /* Black text */
  border-color: #343a40; /* Keep the dark grey border */
}

/* Navbar links */
.nav-link {
  color: #ddd;
  font-size: 1rem;
  margin-left: 0.5rem;
  padding: 10px 30px !important;
  border-radius: 50px;

}
.nav-item {
  color: #ddd;
  font-size: 1rem;
}
/* Smooth hover effect for links */
.nav-link:hover {
  cursor: pointer;
  background-color: var(--red);
  transition: color 0.8s ease, transform 0.3s ease;
}

/* Navbar dropdown */
.nav-item .dropdown-menu {
  transition: opacity 0.3s ease;
}

.nav-item .dropdown-menu.show {
  opacity: 1;
}

/* Navbar brand styling */
.navbar-brand {
  font-weight: bold;
  font-size: 1.9rem;
  transition: color 0.3s ease, transform 0.3s ease;
  background-color: grey;
  border-radius: 2rem;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
}

.navbar-brand:hover {
  color: grey;
  transform: scale(1.1); /* Scale the brand text slightly on hover */
}

/* Responsive for smaller devices */
@media (max-width: 768px) {
  .search-container {
    width: 100%;
    margin-top: 1rem;
  }
}
