body {
  /* background: rgb(255, 144, 168); */
  /* background: radial-gradient(
    circle,
    rgba(255, 144, 168, 1) 0%,
    rgba(180, 3, 14, 1) 100%
  ); */
  background-color: #ff4d4d;
  height: 400vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.login-container {
  /* background: rgb(252, 186, 173);
  background: linear-gradient(
    270deg,
    rgba(252, 186, 173, 1) 0%,
    rgba(228, 133, 102, 1) 63%,
    rgba(145, 109, 179, 1) 100%
  ); */

  /* background-image: linear-gradient(
    to right top,
    #d6d2d4,
    #d3b6c1,
    #d29aa9,
    #ce7e8c,
    #c8616b,
    #c9565e,
    #ca4c50,
    #c94141,
    #d64747,
    #e44c4c,
    #f15252,
    #ff5858
  ); */

  /* background-color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%; */
}

h3:after {
  content: " ";
  display: block;
  border: 2px solid #5a5a5a;
  width: 50px;
  margin: auto;
  margin-top: 5px;
  border-radius: 20px;
}

.card {
  background-color: var(--dark) !important;
  border: 1px solid #e48586;
  border-radius: 10px;
  padding: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 100%;
  max-width: 400px;
  height: auto;
}

.card-title {
  color: #fff;
  text-align: center;
}

.card-body {
  padding: 20px;
  color: #fff;
}



.btn-primary:hover {
  background-color: #410606;
  border-color: #410606;
}

.form-control {
  border: 1px solid #5a5a5a;
  border-radius: 5px;
  background: none;
}

.form-control:focus {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: none;
}

.form-group {
  margin-bottom: 1.5rem;
}

.modal-content {
  background-color: #fde5ec;
  border-radius: 10px;
}

.modal-header {
  border-bottom: 1px solid #e48586;
}

.modal-footer {
  border-top: 1px solid #e48586;
}

.btn-primary {
  background-color: var(--red) ;
  border-color: var(--red);
  width: 100%;
}

/* .btn-primary:hover {
  background-color: #ff5858;
  border-color: white;
} */

.forget-password-btn:focus {
  color: black;
  text-decoration: none;
  background-color: #e48586;
}

button.btn.btn-primary.forget-password-btn:active {
  background-color: #e48586;
  color: black;
}