body {
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.login-container {
  background-color: var(--red);
  box-shadow: rgb(0, 0, 0) 0px 2px 8px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4em;
  background-image: url(../../../assets/images/1.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  margin-left: calc(-50vw + 50%);
}

h3:after {
  content: " ";
  display: block;
  border: 2px solid #636363;
  width: 50px;
  margin: auto;
  margin-top: 5px;
  border-radius: 20px;
}

.card {
  color: white;
  background-color: #7c0808d3 !important;
  border: 1px solid #3333;
  border-radius: 10px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.459) 0px 2px 18px 10px !important;
  width: 100%;
  max-width: 400px;
}

.card-title {
  color: #fff;
  text-align: center;
}

.card-body {
  padding: 20px;
  color: #fff;
}
.btn-primary {
  background-color: var(--dark);
  border-color: var(--dark);
  width: 100%;
}
.btn-primary:hover {
  background-color: #410606;
  border-color: #410606;
}

.form-control {
  border: 1px solid #5a5a5a;
  border-radius: 5px;
  background: none;
}

.form-control:focus {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: none;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group input {
  color: #000;
  background-color: #fff;
}

.modal-content {
  background-color: #fde5ec;
  border-radius: 10px;
}

.modal-header {
  border-bottom: 1px solid #e48586;
}

.modal-footer {
  border-top: 1px solid #e48586;
}


.forget-password-btn:focus {
  color: black;
  text-decoration: none;
  background-color: #e48586;
}

button.btn.btn-primary.forget-password-btn:active {
  background-color: #e48586;
  color: black;
}
