.container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #5a5a5a;
    background: none;
    padding: 10px;
    font-size: 16px;
    color: #5a5a5a;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}