<div
  class="forget-container vh-100 d-flex justify-content-center align-items-center "
>
  <div class="card shadow-lg p-4">
    <div class="card-body">
      <h3 class="card-title text-center">
        {{ "VERIFY_OTP.TITLE" | translate }}
      </h3>
      <form [formGroup]="otpForm" (ngSubmit)="verifyOtp(); onSubmit()">
        <div class="form-group">
          <label for="otp" class="mb-2"
            ><p class="mt-2">
              {{ "VERIFY_OTP.DESCRIPTION" | translate }}
            </p>
          </label>
          <input
            type="text"
            id="otp"
            name="otp"
            formControlName="otp"
            class="form-control"
          />
        </div>
        <!-- <div class="form-group">
                    <label for="email" class="mb-2">Email:</label>
                    <input type="email" id="email" name="email" formControlName="email" class="form-control" />
                </div> -->
        <button type="submit" class="btn btn-primary btn-block">
          {{ "VERIFY_OTP.BUTTON" | translate }}
        </button>
      </form>
    </div>
  </div>
</div>
