<form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(); onSubmit()">
    <!-- <div class="form-group">
        <label for="otp">OTP:</label>
        <input type="text" id="otp" formControlName="otp" class="form-control" />
        <div
            *ngIf="resetPasswordForm.get('otp')?.invalid && (resetPasswordForm.get('otp')?.dirty || resetPasswordForm.get('otp')?.touched)">
            <small *ngIf="resetPasswordForm.get('otp')?.errors?.['required']">OTP is required.</small>
        </div>
    </div> -->
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" class="form-control" />
        <div *ngIf="
        resetPasswordForm.get('email')?.invalid &&
        (resetPasswordForm.get('email')?.dirty ||
          resetPasswordForm.get('email')?.touched)
      ">
            <small *ngIf="resetPasswordForm.get('email')?.errors?.['required']">Email is required.</small>
            <small *ngIf="resetPasswordForm.get('email')?.errors?.['email']">Invalid email format.</small>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" formControlName="password" class="form-control" />
        <div *ngIf="
        resetPasswordForm.get('password')?.invalid &&
        (resetPasswordForm.get('password')?.dirty ||
          resetPasswordForm.get('password')?.touched)
      ">
            <small *ngIf="resetPasswordForm.get('password')?.errors?.['required']">Password is required.</small>
            <small *ngIf="resetPasswordForm.get('password')?.errors?.['minlength']">Password must be at least 8
                characters.</small>
        </div>
    </div>
    <div class="form-group">
        <label for="password_confirmation">Retype Password:</label>
        <input type="password" id="password_confirmation" name="password_confirmation"
            formControlName="password_confirmation" class="form-control" />
        <div *ngIf="
        resetPasswordForm.get('password_confirmation')?.invalid &&
        (resetPasswordForm.get('password_confirmation')?.dirty ||
          resetPasswordForm.get('password_confirmation')?.touched)
      ">
            <small *ngIf="resetPasswordForm.get('password_confirmation')?.errors?.['required']">Retype Password is
                required.</small>
            <small *ngIf="resetPasswordForm.get('password_confirmation')?.errors?.['mustMatch']">Passwords do not
                match.</small>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block">
        Reset Password
    </button>
</form>