<div
  class="forget-container vh-100 d-flex justify-content-center align-items-center"
>
  <div class="card shadow-lg p-4">
    <div class="card-body">
      <h3 class="card-title text-center">
        {{ "RESET_PASSWORD.TITLE" | translate }}
      </h3>
      <p class="text-white-50 mb-4">
        {{ "RESET_PASSWORD.DESCRIPTION" | translate }}
      </p>
      <form
        [formGroup]="resetPasswordForm"
        (ngSubmit)="resetPassword(); onSubmit()"
      >
        <div class="form-group">
          <label for="email">{{
            "RESET_PASSWORD.EMAIL_LABEL" | translate
          }}</label>
          <input
            type="email"
            id="email"
            formControlName="email"
            class="form-control"
          />
          <div
            *ngIf="
              resetPasswordForm.get('email')?.invalid &&
              (resetPasswordForm.get('email')?.dirty ||
                resetPasswordForm.get('email')?.touched)
            "
          >
            <small
              *ngIf="resetPasswordForm.get('email')?.errors?.['required']"
              >{{ "RESET_PASSWORD.EMAIL_REQUIRED" | translate }}</small
            >
            <small *ngIf="resetPasswordForm.get('email')?.errors?.['email']">{{
              "RESET_PASSWORD.INVALID_EMAIL" | translate
            }}</small>
          </div>
        </div>
        <div class="form-group">
          <label for="password">{{
            "RESET_PASSWORD.PASSWORD_LABEL" | translate
          }}</label>
          <input
            type="password"
            id="password"
            formControlName="password"
            class="form-control"
          />
          <div
            *ngIf="
              resetPasswordForm.get('password')?.invalid &&
              (resetPasswordForm.get('password')?.dirty ||
                resetPasswordForm.get('password')?.touched)
            "
          >
            <small
              *ngIf="resetPasswordForm.get('password')?.errors?.['required']"
              >{{ "RESET_PASSWORD.PASSWORD_REQUIRED" | translate }}</small
            >
            <small
              *ngIf="resetPasswordForm.get('password')?.errors?.['minlength']"
              >{{ "RESET_PASSWORD.PASSWORD_MINLENGTH" | translate }}</small
            >
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          {{ "RESET_PASSWORD.BUTTON" | translate }}
        </button>
      </form>
    </div>
  </div>
</div>
