.landing {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
  padding-top: 25vh;
  background-image: url(../../../assets/images/1.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  min-height: 90vh;
  position: relative;
  width: 100vw;
  margin-left: calc(-50vw + 49%);
  color: var(--white);
}
.landing h1 {
  font-size: 7rem;
  font-family: "Cairo Play", sans-serif;
}

.carousel-item {
  border-radius: 34px;
  min-width: 70rem;
}
.slide {
  margin-top: 2rem;
}
.carousel-item img {
  min-width: 70rem;
  height: 35rem;
  object-fit: cover;
  border-radius: 34px;
  box-shadow: 5px 10px 18px #000000;
}
.carousel-item h3,
.carousel-item p {
  margin-top: -6.5rem;
  margin-bottom: 5px;
  color: white;
  background-color: black;
  text-shadow: 1px 1px 5px #000000;
  font-size: x-large;
  text-decoration: overline;
}
.carousel-item h3 {
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 600;
}
#s-btn {
  margin: 3rem;
  background-color: #00000059;
  font-size: small;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  padding: 15px;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #251f1fc5;
  border-radius: 50%;
  height: 8%;
  width: 4%;
  position: absolute;
  top: 30rem;
  right: 5rem;
}
.carousel-control-prev {
  left: 5rem;
}

#categoryCarousel {
  flex: 1;
  position: relative;
  margin-bottom: 0%;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 200px; /* Adjust based on your design needs */
  object-fit: cover;
}
.all-card {
  width: 40vh;
  height: 40vh;
}
.all-div {
  display: flex;
  justify-content: space-between;
}
.slider {
  /* display: flex;
  width: 100%; */
  /* height: 800px; */
  background-color: var(--red);
  padding: 30px;
  border-radius: 40px;

  /* justify-content: space-between;
  margin: auto; */
  /* background-image: url("../../../assets/images/7.jpg"); */
  /* cover: url("../../../assets/images/3.jpg") no-repeat; */
}

.three h1 {
  font-size: 3rem;
  letter-spacing: 0;
  line-height: 1.5em;
  margin: 3rem;
  padding: 25px 0;
  position: relative;
  color: #000000;
  z-index: 99;
  border-bottom: 3px double var(--red);
}
/* .three h1:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 7px;
  width: 55px;
  background-color: var(--red);
}
.three h1:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  height: 2px;
  width: 95%;
  max-width: 255px;
  background-color: var(--red);
} */
.all-events-cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  background-color: var(--dark);
  border-radius: 30px;
  padding: 3rem;
}

.event-card {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: start;
  transition: transform 0.3s ease-in-out;
  width: 100%;
  height: 300px; /* Fixed width */
  margin: 10px; /* Spacing between cards */
  border-radius: 9rem;
  background-color: #420101cb;
}

.event-card:hover {
  transform: scale(1.03) !important;
}

.event-card button {
  transition: 0.3s ease;
  background-color: var(--dark);
  color: white;
  border: white 1px !important;
  padding: 10px 20px;
}
.event-card img {
  width: 600px;
  height: 100%;
}

.event-card:hover .btn-outline-primary {
  border-color: white solid;
  color: white;
}

.event-card:hover .btn-primary {
  /* Darker shade for contrast on hover */
  color: white;
  border-color: white solid;
}
.p-3 p,
h5 {
  font-family: sarif !important;
  color: var(--white) !important;
}
/*#########*/

.section-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
}

.card.event-card {
  border-radius: 10px;
  background-color: #1c1c1c;
  color: #fff;
  border: none;
}

.card.event-card .card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 200px;
  object-fit: cover;
}

.card.event-card .card-body {
  padding: 1rem;
}

.pagination-controls {
  margin-top: 2rem;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination .page-item .page-link {
  color: white;
  border: 1px solid #4d0202;
  font-size: large;
  background-color: #4a0a0d;
}

.pagination .page-item.active .page-link {
  border-color: #901b20;
  background-color: #700a0a;
}

.buses {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  gap: 10px;
  padding: 10vh 0;
  background-image: url(../../../assets/images/buses.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 60vh;
  width: 100vw;
  margin-left: calc(-50vw + 49%);
  color: var(--white);
}
.buses h3 {
  font-size: 2.5em !important;
  text-align: center;
}
.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-controls button {
  margin: 0 10px;
}

.payment-section {
  background: var(--red);
  border-radius: 18px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.523);
  color: white;
}

.payment-section img {
  width: 90px;
  height: auto;
  margin-right: 10px;
  background-color: #333;
  padding: 10px;
  margin-bottom: -3px;
  border-radius: 10px;
}
.payment-button:hover {
  background-color: #c33037;
  transform: translateY(-2px);
}
.payment-button{
  width: 99%;
  margin: 0px 0;
  border-radius:20px;
  background-color: #00000089;
  border: none;
  padding: 5px 30px;

}
.payment-section p{
  font-size: large;
}
.compo
{
  margin-top: 50px;
  z-index: 90;
  position: relative;
}
