.footer {
  background-color: #1c1c1c;
  color: white;
  padding: 50px;
}

.footer .container {
  display: flex;
  flex-direction: column;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.227);
}

.footer-links h4,
.footer-subscribe h4 {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  display: flex;
  font-family: 'Cairo Play', sans-serif;

}

.footer-links ul li {
  margin: 10px;
}

.footer-links ul li a {
  color: white;
  text-decoration: none;
}

.footer-subscribe form {
  display: flex;
  align-items: center;
}

.footer-subscribe input[type="email"] {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  flex: 1;
  border-radius: 50px;
}

.footer-subscribe button {
  background-color: #901b20;
  color: white;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 50px;
  margin-left: -40px;

}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  align-items: center;
}

.footer-left p {
  margin: 0;
}

.payment-img {
  width: 80px;
  height: auto;
  margin:0 10px;
}
.logo{
  width: 300px;
}
